body {
    --left-color: whitesmoke;
    --right-color: lightsteelblue;
    /* --right-color: #F0FFE0; */
    background: -webkit-linear-gradient(left, var(--left-color), var(--right-color)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, var(--left-color), var(--right-color)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, var(--left-color), var(--right-color)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, var(--left-color), var(--right-color)); /* Standard syntax */
}

.mdl-grid {
    position: absolute;

    /* Firefox */
    width: -moz-calc(100% - 16px);
    height: -moz-calc(100% - 16px);

    /* WebKit */
    width: -webkit-calc(100% - 16px);
    height: -webkit-calc(100% - 16px);

    /* Standard */
    width: calc(100% - 16px);
    height: calc(100% - 16px);

}

#left-half, #right-half {
    position: relative;
    /* grid has margin 8px, which is not subtracked by
    box-sizing, so we subtract it manually */
    /* Firefox */
    height: -moz-calc(100% - 16px);
    /* WebKit */
    height: -webkit-calc(100% - 16px);
    /* Standard */
    height: calc(100% - 16px);
}

#lesson {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 1;
    /* Position:absolute is needed for the editor not to be a tiny bit too
     * high. */
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navigationButton {
    position: relative;
    z-index: 2;
    float: right;
    margin-right: 10px;
    margin-bottom: 0px;
    vertical-align: bottom;
}

#M2Out {
    overflow: scroll;
/*    background: var(--left-color);*/
    white-space: pre;
    width: 100%;
    height: 100%;
    z-index: 1;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto Mono";
    position: relative;
    outline: none;
    line-height: 16px;
}

.M2CurrentInput {
    outline: none;
    display: inline-block;
    vertical-align: top;
}

.M2CurrentInput:empty {
    display: inline; /* clever workaround for chrome's bug with empty inline-block not having focus */
}
/*
#M2Out tt {
    font-family: KaTeX_Typewriter;
    font-size: 1.21em;
}
*/

.M2HTMLOutput:hover {
    box-shadow: 1px 1px 2px #000;
    text-decoration: none;
    border-radius: 5px;
}


.M2HTMLOutput {
    white-space: initial;
    display: inline-block; /* to make sure size is as big as content */
}

.M2HTMLOutput ul {
    line-height: 16px;
}

.M2HTMLOutput pre {
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}

.M2HTMLOutput h1 {
    font-size: 26px;
    line-height: 26px;
    margin: 12px;
}
.M2HTMLOutput h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 10px;
}
.M2HTMLOutput h3 {
    font-size: 22px;
    line-height: 22px;
    margin: 8px;
}
.M2HTMLOutput h4 {
    font-size: 20px;
    line-height: 20px;
    margin: 6px;
}
.M2HTMLOutput h5 {
    font-size: 18px;
    line-height: 18px;
    margin: 4px;
}
.M2HTMLOutput h6 {
    font-size: 16px;
    line-height: 16px;
    margin: 2px;
}


#M2In {
    position: absolute; /* otherwise 2 scrollbars appear... (?) */
    display: inline-block; /* prevents chrome from creating new <div> when hitting \n. sadly, can't use this trick on M2CurrentInput (or even better, use inline-table), makes pointer disappear... */
    overflow: scroll;
    background: var(--left-color);
    white-space: pre;
    width: 100%;
    height: 100%;
    z-index: 1;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto Mono";
}

.close-icon {
    position: absolute;
    margin-top: -8px;
    top: 50%;
    right: 0.5em;
}

#sendBtn {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 24px;
}
#loadBtn {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 205px;
}
#saveBtn {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 132px;
}
#hiliteBtn {
    position: absolute;
    z-index: 2;
    top: 54px;
    right: 24px;
}

/* Select all buttons within a class="mdl-dialog" element */
.mdl-dialog > button {
    float: right;
}

#fullScreenOutput {
    background: var(--left-color);
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
#M2OutCtrlBtns, #M2OutCtrlBtnsMax {
    z-index: 2;
    position: absolute;
    top: 16px;
    right: 80px;
}
*/
#M2OutZoomBtns {
    z-index: 2;
    position: absolute;
    top: 16px;
    right: 50px;
}
#maximizeOutput, #downsizeOutput {
    z-index: 2;
    position: absolute;
    top: 16px;
    right: 16px;
}

.icon-with-action {
    cursor: default;
}

.image-text-wrap {
    float: right;
    margin: 10px;
    border-radius: 5px;
}

.mdl-tabs {
    height: 100%;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mdl-tabs__panel {
    overflow-y: auto;
    flex: 1;
    display: flex;
    height: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
#M2In {
    margin: 0px;     // We need this margin, otherwise flexbox does not work correctly.
    flex: 1;
    display: flex;
    position: absolute;
}
*/
 
.small-image {
    width: 20vw;
}

.mdl-mini-footer {
    padding-top: 1px;
    padding-bottom: 1px;
}

.unstyled {
    list-style: none;
}

a.submenuItem {
    text-decoration:none;
}

.material-icons {
    vertical-align: middle;
}

code, codeblock {
    white-space: pre;
    margin-left: 20px;
    font-family: 'Roboto Mono';
    display: inline-block;
    line-height: 1.5;
    transition: background-color 100ms;
}

code, codeblock, .M2PastInput:hover {
    transition: background-color 200ms;
    background-color: lightyellow;
    box-shadow: 1px 1px 2px #000;
    text-decoration: none;
    cursor: pointer;
}

code {
    padding: 1px 3px;
    border-radius: 5px;

}

codeblock {
    padding: 3px 6px;
    border-radius: 10px;
}

.M2PastInput:hover {
    border-radius: 5px;
}
 
code:active, codeblock:active, .M2PastInput:active {
    transition: background-color 0ms; /* clicking should instantly change color, otherwise won't even reach color before button released */
    background-color: red;
    box-shadow: 1px 1px 2px #000;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.autocomplete ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline-table;
    outline: none;
    line-height: 16px;
}

#autocomplete-selection {
    background-color: lightyellow;
    cursor: pointer;
}

.M2Input {
    display: inline-block;
    vertical-align: top;
}
