@import "minimal.css";

body {
    --left-color: whitesmoke;
    --right-color: lightsteelblue;
    /* --right-color: #F0FFE0; */
    background: -webkit-linear-gradient(left, var(--left-color), var(--right-color)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, var(--left-color), var(--right-color)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, var(--left-color), var(--right-color)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, var(--left-color), var(--right-color)); /* Standard syntax */
}

.mdl-grid {
    position: absolute;

    /* Firefox */
    width: -moz-calc(100% - 16px);
    height: -moz-calc(100% - 16px);

    /* WebKit */
    width: -webkit-calc(100% - 16px);
    height: -webkit-calc(100% - 16px);

    /* Standard */
    width: calc(100% - 16px);
    height: calc(100% - 16px);

}

#left-half, #right-half {
    position: relative;
    /* grid has margin 8px, which is not subtracked by
    box-sizing, so we subtract it manually */
    /* Firefox */
    height: -moz-calc(100% - 16px);
    /* WebKit */
    height: -webkit-calc(100% - 16px);
    /* Standard */
    height: calc(100% - 16px);
}

#lesson {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 1;
    /* Position:absolute is needed for the editor not to be a tiny bit too
     * high. */
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navigationButton {
    position: relative;
    z-index: 2;
    float: right;
    margin-right: 10px;
    margin-bottom: 0px;
    vertical-align: bottom;
}

#M2Out {
    resize: none;
}

#M2In {
    /* position: absolute; */ /* otherwise 2 scrollbars appear... fixed instead by inline style hack */
    display: inline-block; /* prevents chrome from creating new <div> when hitting \n.
			      doesn't prevent firefox from inserting <br>, though.
			      and incompatible with position: absolute */
    outline: none;
    overflow: scroll;
    background: #F8FAE8; /* var(--left-color); */
    white-space: pre;
    width: 100%;
    height: 100%;
    z-index: 1;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto Mono";
    font-weight: normal;
}

.close-icon {
    position: absolute;
    margin-top: -8px;
    top: 50%;
    right: 0.5em;
}

#sendBtn {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 24px;
}
#loadBtn {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 205px;
}
#saveBtn {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 132px;
}
#hiliteBtn {
    position: absolute;
    z-index: 2;
    top: 54px;
    right: 24px;
}

/* Select all buttons within a class="mdl-dialog" element */
.mdl-dialog > button {
    float: right;
}

#fullScreenOutput {
    background: var(--left-color);
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
#M2OutCtrlBtns, #M2OutCtrlBtnsMax {
    z-index: 2;
    position: absolute;
    top: 16px;
    right: 80px;
}
*/
#M2OutZoomBtns {
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 64px;
}
#maximizeOutput, #downsizeOutput {
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 30px;
}

.image-text-wrap {
    float: right;
    margin: 10px;
    border-radius: 5px;
}

.mdl-tabs {
    height: 100%;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mdl-tabs__panel {
    overflow-y: auto;
    flex: 1;
    display: flex;
    height: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
#M2In {
    margin: 0px;     // We need this margin, otherwise flexbox does not work correctly.
    flex: 1;
    display: flex;
    position: absolute;
}
*/
 
.small-image {
    width: 20vw;
}

.mdl-mini-footer {
    padding-top: 1px;
    padding-bottom: 1px;
}

.unstyled {
    list-style: none;
}

a.submenuItem {
    text-decoration:none;
}

.material-icons {
    vertical-align: middle;
}

#accordion h3:hover {
    background-color: #8080FF;
}

.menuTitle:hover {
    background-color: #A070FF;
}

#aboutIcon {
    cursor: pointer;
}

/*

.M2OutputIcon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(100%,-50%);
    visibility: hidden;
}

.M2Output:hover > .M2OutputIcon {
    visibility: visible;
}

*/
