body {
    background: -webkit-linear-gradient(left, whitesmoke, lightsteelblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, whitesmoke, lightsteelblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, whitesmoke, lightsteelblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, whitesmoke, lightsteelblue); /* Standard syntax */
}

.mdl-grid {
    position: absolute;

    /* Firefox */
    width: -moz-calc(100% - 16px);
    height: -moz-calc(100% - 16px);

    /* WebKit */
    width: -webkit-calc(100% - 16px);
    height: -webkit-calc(100% - 16px);

    /* Standard */
    width: calc(100% - 16px);
    height: calc(100% - 16px);

}

#left-half, #right-half {
    position: relative;
    /* grid has margin 8px, which is not subtracked by
    box-sizing, so we subtract it manually */
    /* Firefox */
    height: -moz-calc(100% - 16px);
    /* WebKit */
    height: -webkit-calc(100% - 16px);
    /* Standard */
    height: calc(100% - 16px);
}

#lesson {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 1;
    /* Position:absolute is needed for the editor not to be a tiny bit too
     * high. */
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navigationButton {
    position: relative;
    z-index: 2;
    float: right;
    margin-right: 10px;
    margin-bottom: 0px;
    vertical-align: bottom;
}

#M2Out {
    overflow: scroll;
    white-space: pre;
    width: 100%;
    height: 100%;
    z-index: 1;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto Mono";
    position: relative;
    outline: none;
    line-height: 16px;
}

/*
#M2OutInput {
    outline: none;
}
#M2Out tt {
    font-family: KaTeX_Typewriter;
    font-size: 1.21em;
}
*/

#M2Out h1 {
    font-size: 26px;
}
#M2Out h2 {
    font-size: 24px;
}
#M2Out h3 {
    font-size: 22px;
}
#M2Out h4 {
    font-size: 20px;
}
#M2Out h5 {
    font-size: 18px;
}
#M2Out h6 {
    font-size: 16px;
}

#M2In {
    width: 100%;
    height: 100%;
    z-index: 1;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto Mono";
}

.close-icon {
    position: absolute;
    margin-top: -8px;
    top: 50%;
    right: 0.5em;
}

#sendBtn {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 24px;
}


/* Select all buttons within a class="mdl-dialog" element */
.mdl-dialog > button {
    float: right;
}

#fullScreenOutput {
    background: lightsteelblue;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#M2OutZoomBtns {
    z-index: 2;
    position: absolute;
    top: 16px;
    right: 40px;
}

#maximizeOutput, #downsizeOutput {
    /*opacity: 0.3;*/
    z-index: 2;
    position: absolute;
    top: 16px;
    right: 16px;
}

.icon-with-action {
    cursor: default;
}

.image-text-wrap {
    float: right;
    margin: 10px;
    border-radius: 5px;
}

.mdl-tabs {
    height: 100%;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mdl-tabs__panel {
    overflow-y: auto;
    flex: 1;
    display: flex;
    height: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#M2In {
    /* We need this margin, otherwise flexbox does not work correctly.*/
    margin: 0px;
    flex: 1;
    display: flex;
    position: absolute;
}

.small-image {
    width: 20vw;
}

code, codeblock {
    white-space: pre;
    background-color: lightyellow;
    margin-left: 20px;
    cursor: pointer;
    font-family: 'Roboto Mono';
    box-shadow: 1px 1px 2px #000;
    display: inline-block;
    text-decoration: none;
    line-height: 1.5;
    transition: background-color 300ms;
}

code {
    padding: 1px 3px;
    border-radius: 5px;

}

codeblock {
    padding: 3px 6px;
    border-radius: 10px;
}

.redWithShortTransition {
    background-color: red;
    /* Use >0ms transition, otherwise transitionend event is not fired */
    transition: 1ms;
}

.mdl-mini-footer {
    padding-top: 1px;
    padding-bottom: 1px;
}

.unstyled {
    list-style: none;
}

a.submenuItem {
    text-decoration:none;
}

.material-icons {
    vertical-align: middle;
}

.M2textinput:hover {
    background-color: lightyellow;
    box-shadow: 1px 1px 2px #000;
    text-decoration: none;
    transition: background-color 300ms;
    border-radius: 5px;
}
