@font-face {
    font-family:"Iosevka";
    font-weight:400;
    src: url("iosevka-fixed-extended.woff2") format("woff2");
}
@font-face {
    font-family:"Iosevka";
    font-weight:500;
    src: url("iosevka-fixed-extendedmedium.woff2") format("woff2");
}

body {
    font-family: "Epilogue";
}

#terminal {
    overflow: scroll;
    /*background: #F8FAE8;*/ /* var(--left-color); */
/*    box-shadow: 0px 0px 15px 5px #F8FAE8;*/
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
    position: relative;
    outline: none;
    line-height: 1.14286;
    padding-bottom: 0.2em;
}

/* various sections inside #terminal */

.M2Input {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit; /* for "closed" state */
}

.M2CurrentInput {
    position: relative;
    outline: none;
    /* what's below is for textarea */
/*    background: none;
    resize: none;
    overflow: hidden;
    border: none;
    width: 100%;
    padding: 0;
    margin: 0;
    font: inherit;
    line-height: inherit;*/
}

.M2CurrentInput:empty {
/*    display: block;  clever workaround for chrome's bug with empty inline-block not having focus */
    min-width: 2px;  /* clever workaround for chrome's bug with empty text node not displaying caret */
}

.M2Text {
    white-space: pre;
    font-family: "Iosevka", monospace;
    font-weight: normal;
}

.M2Html {
    display: inline-table; /* to make sure size is as big as content. inline-block is the more obvious choice */
    white-space: nowrap;
    /* line-height: 0; */ /* necessary for exotic stuff. for all standard HTML elements need to redefine it to something more sensible */
    line-height: 1.2;
    font-family: "Epilogue";
    font-weight: normal;
    position: relative;
}

.M2Html div:not(.M2Cell) { /* not great. for e.g. help */
    white-space: normal;
}

/*
.M2Html > * {
    line-height: 1.2;
}
*/

/*
.M2Html ul {
    line-height: 1.2;
    font-size: inherit;
}
*/

.M2Html pre {
    margin: 0px;
}

ul, ol, p { /* slowly destroying all of mdl's css... */
    font-size: inherit;
    line-height: 1.4;
}

.M2Html ul,.M2Html ol {
    padding-left: 20px;
    margin: 0px;
}

table {
    border-spacing: 0.2em;
    line-height: 1.2;
    font-size: inherit;
}

td, th {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
}

/* from doc.css */
table.examples {
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 50%;
    border-style: solid;
    border-width: 3px;
    border-spacing: 0px;
    line-height: 110%;
}
table.examples > tbody > tr > td { /* to avoid inheriting too far */
    border-style: solid;
    border-width: 1px;
    padding-right: 0.75em;
    padding-bottom: 1em;
}
table.examples pre {
    margin: 0pt;
    padding: 0pt;
}
div.indent {
    border-left:3px solid;
    padding:10px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Epilogue";
}

h1 {
    font-size: 2.5em;
    margin: 0.7em 0em;
    line-height: 1.2;
}
h2 {
    font-size: 2em;
    margin: 0.5em 0em;
    line-height: 1.2;
}
h3 {
    font-size: 1.7em;
    margin: 0.4em 0em;
    line-height: 1.2;
}
h4 {
    font-size: 1.5em;
    margin: 0.3em 0em;
    line-height: 1.2;
}
h5 {
    font-size: 1.3em;
    margin: 0.2em 0em;
    line-height: 1.2;
}
h6 {
    font-size: 1.15em;
    margin: 0.1em 0em;
    line-height: 1.2;
}

/* the wrapped variant */

/* the shadow doesn't work in inline mode because the box
does not contain the whole contents (and is possibly empty) */
/*
.M2Output.M2Wrapped:hover, .M2Wrapped .M2Output:hover {
    box-shadow: none;
}
*/

.M2Html.M2Wrapped, .M2Wrapped .M2Html {
    white-space: normal;
    word-break: break-word;
    display: inline;
}

.M2Text.M2Wrapped, .M2Wrapped .M2Text, .M2Wrapped pre, .M2Wrapped tt, .M2Wrapped .KatexError, .M2Wrapped .token.string, .M2Wrapped .token.net {
    white-space: pre-wrap;
    word-break: break-all;
}

/* this allows katex to wrap */
.M2Wrapped .katex {
    white-space: normal;
}

/* this allows katex to wrap further than it currently wants to... */
.M2Wrapped .katex .base {
    white-space: normal;
    width: 100%;
    display: inline;
}

/* ...except it screws up fraction bars */
.M2Wrapped .katex .mfrac {
    white-space: nowrap;
}
/* and anything else that has vertical structure, really */
.M2Wrapped .katex .vlist {
    white-space: nowrap;
}

.KatexError {
    color: #C07060;
    white-space: pre;
    font-family: "Iosevka", monospace;
    font-weight: normal;
}

.M2Cell {
/*    display: block; /* /* redundant: should be used with <div> only */
    position: relative;
    padding-left: 0.7em;
    margin-top: 1.2em;
}

.M2Cell > .M2Cell:first-of-type {
    margin-top: 0em; /* in some cases margin collapse doesn't occur */
}

.M2Left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0.35em;
    height: 100%;
    background: transparent;
}

.M2Cell:hover > .M2Left {
    background: grey;
}

.M2Separator:hover ~ .M2Left {
    background: transparent;
}

.M2Cell.M2CellSelected > .M2Left { /* need to override previous two */
    background: orange !important;
}

.M2CellBar:hover {
    cursor: pointer;
}

.M2Separator {
    position: absolute;
    top: -0.71em; /* half ( margin + height ) */
    left: 0px;
    width: 100%;
    height: 0.22em;
    background: transparent;
}

.M2Separator:hover {
    background: grey;
}

.M2CellClosed {
    height: 1.2em;
    overflow: hidden;
    text-decoration: underline dotted gray;
}

code {
    white-space: pre;
    font-family: 'Iosevka', monospace;
    font-weight: normal;
    line-height: 1.5;
    text-decoration: none;
    box-shadow: 1px 1px 2px 0px black;
    padding: 2px 4px;
    border-radius: 7px;
    display: inline;
    margin: 0;
    position: relative;
    z-index: 1; /* to avoid links disappearing under other stuff e.g. KaTeX */
}

#tutorial code, #chat code { /* only this code is clickable */
    background-color: lightyellow;
    cursor: pointer;
    transition: background-color 200ms;
}

pre > code, code.block { /* code block */
    margin-left: 20px;
    display: block;
    /* needed for multi-line code. used to be table but has buggy spacing in chrome. fit-content works instead: */
    width: fit-content;
    width: -moz-fit-content;
}

code.block {
    margin-top: 10px;
    margin-bottom: 10px;
}

[data-m2code] {
    cursor: pointer;
    z-index: 1; /* to avoid links disappearing under other stuff e.g. KaTeX */
}

.M2PastInput {
    transition: background-color 200ms;
    border-radius: 5px;
}

.M2PastInput:hover {
    background-color: #E0FFC0;
    box-shadow: 1px 1px 2px 0px black;
    cursor: pointer;
}

/*code:active, .M2PastInput:active {*/
.codetrigger { /* modified so can be actived or not programmatically */
    transition: background-color 0ms; /* clicking should instantly change color, otherwise won't even reach color before button released */
    background-color: red !important;
}

tt {
    /*
    font-family: "KaTeX_Typewriter", monospace;
    font-size: 1.2em;
   */
    font-family: "Iosevka", monospace;
    font-weight: 500;
    font-size: inherit;
}

pre, blockquote, .token.string, .token.net {
    white-space: pre;
    font-family: "Iosevka", monospace;
    /*    font-weight: 500; */
    font-weight: 400;
    font-size: inherit;
}
.token.net {
    display: inline-block; /* inline-table would've been simpler for vertical alignment, except it gobbles space despite white-space:pre */
}

/* menu stuff */
ul.menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
    outline: none;
    line-height: inherit;
    display: inline-table; /* for firefox */
    font-size: inherit;
    cursor: pointer;
    user-select: none;
    z-index: 10;
}

.menu .selected {
    background-color: rgb(255,110,64);
}

#contextmenu {
    padding: 5px;
    background: #f0f0f0;
    box-shadow: 4px 4px 3px -2px #888888;
    border: 1px solid #b1b1b1;
    border-radius: 1px;
    position: absolute;
}

.M2Debug[data-type] {
    display: contents;
}
.M2Debug[data-type]::after {
/*    color: red;
    position: absolute;
    right: 0px;
    top: 0px;*/
    font-family: "Iosevka", monospace;
    font-size:0.5em;
    content: ":" attr(data-type);
}

.M2Debug[data-type] > * {
    border: 1px solid gray;
    margin:1px;
    padding:1px;
}

.katex .M2Html svg path { /* because of KaTeX annoying def */
    stroke: inherit;
}
/*
.katex .M2Html svg text {
    stroke: none;
}
*/

.katex .M2Html svg { /* because of KaTeX annoying def */
    display: inherit;
    position: inherit;
    width: inherit;
    height: inherit;
}

a {
    cursor: pointer;
    text-decoration:none;
    color: rgb(200,50,0);
}

.M2Html a {
    position: relative;
    z-index: 1; /* to avoid links disappearing under other stuff e.g. KaTeX */
}

.marker {
    display: inline-block;
    width: 0em;
    height: 0em;
    cursor: text;
    pointer-events: none;
}

.marker[data-content]::after {
    content: attr(data-content); /* currently not used */
}

.valid-marker::after {
    content: '▒'; /* default */
    color: #50A000;
    opacity: 0.8;
}

.error-marker::after {
    /*    content: '▶';*/
    content: '▒'; /* default */
    color: red;
    opacity: 0.8;
}
.caret-marker::after {
    content: '▒'; /* default */
    color: black;
    opacity: 0.8;
}

.M2Prompt {
    text-decoration: underline;
}

.M2Error {
    color: #A00000;
}
