body {
    /*
    --left-color: whitesmoke;
    --right-color: lightsteelblue;
    background: linear-gradient(to right, var(--left-color), var(--right-color));
*/
    background-color: #d2dce9;
/*    background-color: whitesmoke; */
}

.mdl-grid {
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
}

#left-half, #right-half {
    position: relative;
    /* grid has margin 8px, which is not subtracted by
    box-sizing, so we subtract it manually */
    height: calc(100% - 16px);
}

@media (min-width:480px) {
    .mdl-grid {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: flex-start; /* this way the right-half can disappear out of the screen entirely */
    }
    #left-half {
	flex: 0 0 49%;
	width: 0px; /* now processed by flux */
    }

    #right-half {
	flex: 1 0 auto;
	width: 0px; /* now processed by flux */
	min-width: 200px; /* otherwise absolutely positioned icons stay when right-half shrunk */
    }
    #resize {
	flex-grow: 0;
	flex-shrink: 0;
	background: rgb(63,81,181);
	width: 0.2rem;
	cursor: col-resize;
	margin: 0 0 0 auto;
    }
    #resizeball {
	z-index: 1;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,0%) scale(75%);
	color: rgb(63,81,181);
    }
}
/*
#right-half {
    margin-left:0px;
}
@media (min-width:480px) {
    #right-half {
        width: calc(50% - 8px);
    }
}

@media (max-width:479px) {
    #right-half {
        width: calc(100% - 8px);
    }
}
*/
@media (max-width:479px) {
    #resize {
	display: none;
    }
    .mdl-layout__header-row {
	padding: 0px 16px 0px 50px;
    }
    .mdl-layout-title {
	font-size: 16px;
    }
}

#lesson {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 1;
    /* Position:absolute is needed for the editor not to be a tiny bit too high. */
    position: absolute;
    box-sizing: border-box;
}

#lessonNav {
    position: relative;
    z-index: 2;
    float: right;
    margin-right: 20px;
    margin-bottom: 0px;
}

#lessonNr {
    vertical-align: middle;
}

#editorDiv {
    /* position: absolute; */ /* otherwise 2 scrollbars appear... fixed instead by inline style hack */
    position: relative;
    display: inline-block; /* prevents chrome from creating new <div> when hitting \n.
			      doesn't prevent firefox from inserting <br>, though.
			      and incompatible with position: absolute */
    outline: none;
    overflow: scroll;
    background: #F8FAE8;
    white-space: pre;
    width: 100%;
    height: 100%;
    z-index: 1;
    resize: none;
    box-sizing: border-box;
    font-family: "Roboto Mono";
    font-weight: normal;
}

.close-icon {
    position: absolute;
    margin-top: -8px;
    top: 50%;
    right: 0.5em;
}

#editorBtns {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 25px;
}

#editorFileNameDiv {
    position: absolute;
    bottom: 20px;
    right: 40px;
    z-index: 1;
}

#editorFileName {
    position: relative; /* for the z-index to work */
    border:1px solid gray;
    border-radius:4px;
    width:175px;
    z-index: 2;
}

#pastFileNames {
    position:absolute;
    z-index: 0;
    top:0px;
    left:0px;
    width:200px;
    margin:0;
    padding:0;
    border:0px;
}
#pastFileNames:focus {
    border:0px;
    outline: 0px;
}
/* Select all buttons within a class="mdl-dialog" element */
.mdl-dialog > button {
    float: right;
}

#fullScreenOutput {
    background: whitesmoke; /* var(--left-color); */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#terminalCopyToggle {
    z-index: 2;
    position: absolute;
    top: -4px;
    right: 50px;
}
#maximizeOutput, #downsizeOutput {
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 30px;
}

.image-text-wrap {
    float: right;
    margin: 10px;
    border-radius: 5px;
}

.mdl-tabs {
    height: 100%;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.mdl-tabs__panel {
    overflow-y: auto;
    flex: 1;
    display: flex;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.small-image {
    width: 20vw;
}

.mdl-mini-footer {
    padding-top: 1px;
    padding-bottom: 1px;
}

.unstyled {
    list-style: none;
    margin: 0px;
}

.material-icons {
    vertical-align: middle;
    transition: transform 0.5s;
}

/*
button.rotated .material-icons {
    transform: translate(-12px,-12px) rotate(90deg);
}
*/
.rotated .material-icons {
    transform: rotate(90deg);
}


.title:hover {
    background-color: #8080FF;
}

.menuTitle {
    text-align: left;
}

.menuTitle:hover {
    background-color: #9070FF;
}

.mdl-tabs__tab {
    font-family: sans-serif;
}

#chatMessages {
    padding-left: 0px;
    overflow-y: scroll;
    padding-bottom:10px;
    max-height: calc(100% - 200px);
}

.chatMessage {
    border:1px solid gray;
    padding: 10px 15px;
    margin-bottom: -1px;
}

.chatMessage table,.chatMessage th,.chatMessage td {
    border: 1px solid black;
    border-collapse: collapse;
}

.chatDiv {
    display:table;
    border-collapse:separate;
    box-sizing:border-box;
}

.chatInput {
    padding-left: 10px;
    padding-right: 10px;
    display:table-cell;
    height:24px;
    border:1px solid gray;
    border-radius:4px;
}

input[type=checkbox]:not(:checked) + label {
    color: rgba(0,0,0,0.26);
}

#chatTitle {
    transition: text-shadow 0.5s;
}

[data-message] {
    color: #C07040;
}

[data-message=System] {
    color: #000000;
}

[data-message=Admin] {
    color: #FF0000;
}

.message-pop {
/*    font-weight: 700;*/
    text-shadow: 0px 0px 4px #E09060;
}

.message-close {
    float: right;
    cursor: pointer;
}

@keyframes startButton-anim {
    50% {transform: scale(1.3);}
}
.startButton {
    animation-name: startButton-anim;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

nav {
    padding: 1em;
    margin: 0px;
}

#lesson header { /* similar to h1 */
    font-size: 2.5em;
    margin: 0.7em 0em;
    line-height: 1.2;
}

#lesson section header { /* similar to h2 */
    font-size: 2em;
    margin: 0.5em 0em;
    line-height: 1.2;
}

#lesson section {
    display: none;
}

#lesson section.current-lesson {
    display: block;
}

#lesson hr {
  text-align: center;
  background-color: #000080;
  border-radius: 8px;
  height: fit-content;
  height: -moz-fit-content;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
  /*  display: block; */
}


#lesson hr::after {
  font-family: Material Icons;
  content: "expand_less";
  color: white;
  display: inline;
}

#lesson hr.closed::after {
  content: "expand_more";
}
